
            <div class="box">
                    <div class="box-header">
                      <h3 class="box-title">Posts</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                      <table class="table table-striped">
                        <tbody><tr>
                          <th style="width: 10px">#</th>
                          <th>Id</th>
                          <th>UserId</th>
                          <th>Title</th>
                          <th>Body</th>
                          <th>Edit</th>
                          <td>Delete</td>
                        </tr>
                        <tr *ngFor="let post of posts">
                          <td>1.</td>
                          <td>{{post.id}}</td>
                          <td>
                           {{post.UserId}}
                          </td>
                          <td>{{post.title}}</td>
                          <td>{{post.body}}</td>
                          <td>
                            <a href="javascript:;" >Edit</a>
                          </td>
                          <td>
                              <a href="javascript:;" (click)="delete(post)">Delete</a>
                            </td>
                        </tr>
                       
                      </tbody></table>
                    </div>
                    <!-- /.box-body -->
                  </div>
       
