
            <div class="box">
                    <div class="box-header">
                      <h3 class="box-title">Input From Parent</h3>
                    </div>
                    <div class="box-body no-padding">
                      <span class="small">Input Text</span>
                      {{inputVariable}}                      
                    </div>

                    <div class="box-body no-padding">
                        <span class="small">Output Text</span>
                        <input type="text" [(ngModel)]="outputVariable" class="form-control">
                        <button (click)="outputEvent()"  >Output</button>                      
                      </div>
  
                  </div>
       
